.splash {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../assets/img/surfing-desktop-wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  text-align: center;
  color: #fff;
  letter-spacing: 2px;

  h1 {
    margin-top: 0;
    font-size: 4rem;
  
    color: whitesmoke;
  }

  h2 {
    color: whitesmoke;
  }
}