@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  font-size: 20px;
  line-height: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-display: auto;
  color: #333;

  --gold: #ffc60a;
  --grey: #888;
  --black: #000;
  --white: #f9f9f9;
  --off-white: #eee;
  --sea-green: #20b2aa;
}

@media only screen and (max-width: 44rem) {
  :root {
    font-size: 18px;
  }
}

html {
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

section {
  max-width: 50rem;
  margin: auto;
  padding: 3rem 2rem 0 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;
}

article {
  max-width: 30rem;
  margin: auto;
  padding: 3rem 2rem 0 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;
}

article h3 {
  margin: 1rem 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  a {
    text-decoration: underline;
  }
}

a {
  padding: 0 0.2rem;
  color: var(--grey);
  font-size: 1rem;
  text-decoration: none;
  transition: all 350ms;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

// @media (hover: none) {
//   a:active {
//     color: var(--off-white);
//     background-color: var(--grey);
//   }
// }

h1,
h2 {
  margin: 1rem 0;
  line-height: 1.25;

  color: #222;
}

h3 {
  margin: 1rem 0;
  line-height: 1.25;

  color: var(--gold);
}

h4 {
  margin: 1rem 0;
}


pre {
  border-radius: 8px;
  background-color: #333;
  padding: 0.5rem 1.5rem;
}
code {
  color: azure;
}

blockquote {
  padding: 0rem 1.5rem;
  border-left: 3px solid black;
}

.active {
  color: var(--off-white);
  background-color: var(--sea-green);
}

.tab {
  padding-left: 1.5rem;
}
